body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #004080;
    color: white;
    padding: 15px;
}

h1 {
    margin: 0;
}

nav a {
    margin: 5px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

form {
    background-color: white;
    width: 300px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 5px gray;
}

label {
    display: block;
    margin-top: 10px;
}

input, textarea, button {
    width: 90%;
    padding: 8px;
    margin-top: 5px;
}

button {
    background-color: #004080;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0066cc;
}

.boton {
    background-color: #004080;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 6px;
}

#mensajePass {
    color: red;
}

#fuerzaPass {
    font-size: 13px;
    font-weight: bold;
    margin-top: 3px;
}

.inicio {
    background-image: url('https://images.unsplash.com/photo-1555396273-367ea4eb4db5?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1374');
    background-size: cover;
    background-position: center;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.7);
}

.contenido-inicio {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 40px;
    border-radius: 10px;
}

.boton {
    background-color: #ff6600;
    padding: 14px 28px;
    font-size: 18px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.boton:hover {
    background-color: #ff8533;
}

footer {
    background-color: #004080;
    color: white;
    text-align: center;
    padding: 15px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

body.login-page, 
body.registro-page, 
body.clientes-page, 
body.reservas-page, 
body.reseñas-page {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.6);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Imagen en cada seccion */
body.login-page {
  background-image: url("https://images.unsplash.com/photo-1718483610680-c26f3d02c57b?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1518"); 
}

body.registro-page {
  background-image: url('https://images.unsplash.com/photo-1759419038843-29749ac4cd2d?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1470'); 
}

body.clientes-page {
  background-image: url('https://images.unsplash.com/photo-1556740758-90de374c12ad?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1470'); 
}

body.reservas-page {
  background-image: url('https://images.unsplash.com/photo-1694967336919-707c84ebacf2?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=687'); /* mesa con platos */
}

body.resenas-page {
  background-image: url('https://images.unsplash.com/photo-1517248135467-4c7edcad34c4?auto=format&fit=crop&w=1500&q=80'); 
}

